.search{
	margin-left: 20px;
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
	flex: 1;


}
.menu{
	
	height: 40px;
	margin-left: 24px;
	margin-right: 24px;
}
.logo{
	height: 34px;

}
.header{
	display: flex;
	flex-direction: row;
height: 45px;
justify-content: space-around;
margin-bottom: 20px;
position: fixed;
top: 0;
left: 0;
right: 0;
justify-items: center;
z-index: 100;
}
.bi{
	margin-left: 10;
	border: none;
}
.leftsection{
	
	width: 150px;
	display: flex;
	
	
}
.middlesection{
display: flex;

flex: 1;
margin-left: 70px;
margin-right: 30px;
max-width: 500px;
}
.rightsection{
	flex-shrink: 0;
	width: 250px;
	justify-items: center;
	display: flex;
}
.snearhico{
	height: 40px;
	width: 60px;
}
.voice{
	height: 40px;
	width: 50px;
	margin-left: 15px;
	border: none;
}
.app{
	height: 40px;
	margin-left: 10px;
	right: 300px;
}
.video{
	height: 40px;
	margin-left: 20px;
	right: 20px;
}
.notif{
	height: 40px;
	margin-left: 10px;
	right: 10px;

}
.bifa{
	height: 40px;
	border-radius: 50%;
	margin-left: 20px;
	right: 20px;
}
.notcon{
	position: relative;
}
.count{
	position: absolute;
	top: -2px;
	right: -2px;
	background-color: rgb(248, 42, 42);
	font-size: 14;
	border-radius: 50%;
	font-family: Arial;
}